#import(methods)
importFrom(methods,setRefClass)
importFrom(methods,show)
importFrom(Rcpp,loadModule)
useDynLib(rmumps, .registration=TRUE)
exportPattern("^Rmumps_.+")
exportPattern("^RMUMPS_.+")
export("Rmumps")
S3method(solve, Rcpp_Rmumps)
S3method(solvet, Rcpp_Rmumps)
S3method(determinant, Rcpp_Rmumps)
S3method(dim, Rcpp_Rmumps)
S3method(nrow, Rcpp_Rmumps)
S3method(ncol, Rcpp_Rmumps)
S3method(show, Rcpp_Rmumps)
S3method(print, Rcpp_Rmumps)
