import(methods)
#importFrom(Rcpp,loadModule)
import(Rcpp)
useDynLib(rmumps, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
S3method(solve, Rcpp_Rmumps)
S3method(solvet, Rcpp_Rmumps)
S3method(determinant, Rcpp_Rmumps)
S3method(dim, Rcpp_Rmumps)
S3method(nrow, Rcpp_Rmumps)
S3method(ncol, Rcpp_Rmumps)
S3method(show, Rcpp_Rmumps)
S3method(print, Rcpp_Rmumps)
